body {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

#board {
  border: 3px solid;
  /*height: 500px;
  width: 500px;*/
}

#scoreText {
  font-size: 3rem;
}